<table class="table table-striped ">
    <thead>


        {% for message in messages %}
        <tr>
            <th colspan="3" style="text-align: center;">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{ message }}
                </div>
            </th>

        </tr>
        {% endfor %}



        <tr>
            <th colspan="3" style="text-align: center;">Carro de compras</th>
        </tr>

        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Valor Unitario</th>
        </tr>
    </thead>

    <tbody>
        {% if request.session.carro.items %}

        {% for key, value in request.session.carro.items %}
        <tr>
            <th>{{value.nombre}}</th>
            <th>{{value.cantidad}}</th>
            <!-- <th>{{value.precio}}</th> -->
            <th>
                <a href="{% url 'carro:restarproducto' value.producto_id %}" class="btn btn-success">-</a>
                <a href="{% url 'carro:agregarproducto' value.producto_id %}" class="btn btn-success">+</a><br>
                {{value.precio}}
            </th>

        </tr>
        {% endfor %}

        <tr>
            <th colspan="3" style="text-align: right;">Total: ${{totalProductos}}</th>
        </tr>
        {% else %}
        <tr>
            <th colspan="3">
                <div class="alert alert-warning" role="alert">
                    No hay artículos en el carro
                </div>
            </th>
        </tr>
        {% endif %}

        {% if request.session.carro.items %}
        <tr>
            <th colspan="3" style="text-align: center;">
                <a href="{% url 'procesarPedido' %}" class="btn btn-primary btn-md active" role="button"
                    aria-pressed="true">Comprar</a>
            </th>
        </tr>
        {% endif %}


    </tbody>

</table>