{% extends "ProyectoWebApp/base.html" %}

{% block content %}


<div class="container-fluid">
    <h1 class="mt-4">Contacto</h1>
    {% if "valido" in request.GET %}
    <h2>Datos enviados correctamente</h2>
    {% endif %}
    <div style="margin: auto;">
        <form action="" method="POST">
            {%csrf_token%}
            <table>
                {{formulario.as_table}}
            </table>
            <input type="submit" value="Enviar" style="width: 150px;">
        </form>
    </div>
</div>

{% endblock %}